opssdk
pycryptodome
boto3==1.9.5
ansible==2.7.10
paramiko==2.4.2
aliyun_python_sdk_ecs==4.16.10
huaweicloud_sdk_python==1.0.13
keystoneauth1==3.4.0
aliyun_python_sdk_core==2.13.9
aliyun_python_sdk_rds
aliyun_python_sdk_r_kvstore
ucloud-sdk-python3
